/*Schriftarten DSGVO-konform lokal einbinden*/
@font-face {
   font-family: "Inter";
   src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
         format("truetype"),
      url("../fonts/Inter/Inter-VariableFont_opsz,wght.woff2") format("woff2"),
      url("../fonts/Inter/Inter-VariableFont_opsz,wght.woff") format("woff");
}

@font-face {
   font-family: "Lobster";
   src: url("../fonts/Lobster/Lobster-Regular.ttf") format("truetype"),
      url("../fonts/Lobster/Lobster-Regular.woff2") format("woff2"),
      url("../fonts/Lobster/Lobster-Regular.woff") format("woff");
}

/*Root-Element für globale Variablen*/
:root {
   --font-size: 1rem;
   --font-size-large: 1.5rem;
   --font-size-xlarge: 2rem;
   --color-untertitel: #ddd;
   --cta-color: #cd293a; /*Pantone Tomato Red*/
   --hero-background: url(./img/hero.jpg);
   --oeffnungszeiten-background: url(./img/hintergrund-oeffnungszeiten.jpg);
   --background-color: #1a1a1a;
   --text-color: #fff;
}

/*Für das ganze Dokument Margin und Padding auf 0 stellen*/
* {
   margin: 0;
   padding: 0;
}

/*Box-Sizing festlegen*/
html {
   font-family: "Inter", sans-serif;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

/*Box-Sizing vererben*/
*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   background-color: var(--background-color);
   color: var(--text-color);
}

.h2-heading {
   width: fit-content;
   margin: 2rem 0 1rem 0;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   text-decoration-line: underline;
   text-underline-offset: 0.5rem;
   text-decoration-thickness: 0.1rem;
   text-decoration-color: var(--cta-color);
}

/*Navigation*/
.nav {
   height: 8vh;
   font-size: 0.8rem;
   background-color: var(--background-color);
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.nav a,
.footer-item {
   height: 100%;
   padding: 0 20px;
   display: flex;
   align-items: center;
   letter-spacing: 0.1rem;
   text-decoration: none;
   text-transform: uppercase;
   color: var(--text-color);
}

.nav a:hover,
.footer-item:hover {
   color: var(--cta-color);
   transition: 0.2s ease-in-out;
}

/*Für die Hero-Section die Elemente zentrieren*/
.hero {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 92vh; /*Die Hero-Section soll die gesamte Bildschirmhöhe einnehmen*/
   text-align: center;
   background-image: var(--hero-background);
   background-size: cover; /*Skalierung auf die gesamte Hero-Section-Fläche*/
   background-position: center;
   background-repeat: no-repeat;
}

/*Overlay über das Hintergrundbild*/
.hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 1;
}

.hero * {
   position: relative;
   z-index: 2;
}

.hero-titel {
   font-family: "Lobster", sans-serif;
   color: var(--text-color);
   font-size: 3rem;
   line-height: 3rem;
   margin-bottom: 1rem;
}

.hero-untertitel {
   color: var(--color-untertitel);
   margin-bottom: 20px;
}

.button,
.button-inverted {
   width: fit-content;
   display: inline-block;
   padding: 1rem 2rem;
   border: 1px solid var(--cta-color);
   text-decoration: none;
   color: var(--text-color);
   background: var(--cta-color);
   transition: background 0.2s ease-in-out, color 0.2s ease-in-out,
      border 0.2s ease-in-out;
}

.button-inverted {
   background: transparent;
   color: var(--cta-color);
}

.button:hover {
   background: transparent;
   color: var(--cta-color);
}

.button-inverted:hover {
   background: var(--cta-color);
   color: var(--text-color);
}

/*Für alle Sektionen unterhalb der Hero-Section*/
.main-container {
   max-width: 85%;
   margin: 4rem auto;
}

/*Über uns*/
.ueberuns {
   display: grid;
   gap: 2rem;
}

.ueberuns-text {
   font-size: 0.9rem;
   color: var(--color-untertitel);
}

.hero-cta {
   margin-top: 2rem;
}

.container-rechts {
   width: 100%;
   display: flex;
   gap: 0.5rem;
}

.ueberuns-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.img-links {
   min-width: 50%;
}

.img-rechts {
   display: flex;
   flex-direction: column;
}

/*Öffnungszeiten*/
.oeffnungszeiten {
   position: relative; /*warten: wird ev. gelöscht*/
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   text-align: center;
   background-image: var(--oeffnungszeiten-background);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

/*Overlay über das Hintergrundbild*/
.oeffnungszeiten::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 1;
}

.oeffnungszeiten * {
   position: relative;
   z-index: 2;
}

table {
   width: 18%;
   border-collapse: collapse;
   margin: 2rem auto;
}

td {
   padding: 5px;
}

td:first-child {
   text-align: left;
   color: var(--color-untertitel);
}

td:last-child {
   text-align: right;
}

/*Kontakt*/
.kontakt-content {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.kontakt-img {
   width: 100%;
}

.kontakt-angaben {
   width: 50%;
   margin-top: 0.5rem;
   color: var(--color-untertitel);
}

.kontakt-angaben .button .button-inverted {
   margin-top: 2rem;
   gap: 1rem;
}

/*Footer*/
.footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 0.8rem;
   text-align: center;
   gap: 1rem;
   margin-top: 2rem;
   padding: 2rem 1rem;
   background-color: #303030;
}

.footer-links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   letter-spacing: 0.1rem;
}

.copyright {
   font-size: 0.7rem;
   color: var(--cta-color);
   margin-top: 1rem;
}

/*Media-Queries*/
@media only screen and (min-width: 600px) {
   .nav,
   .footer-links {
      gap: 2rem;
      font-size: 1rem;
   }
   .hero-titel {
      font-size: 4rem;
      line-height: 4rem;
   }
   .hero-untertitel {
      font-size: 1.5rem;
   }
   .button,
   .button-inverted {
      padding: 1.2rem 2.5rem;
   }
   .ueberuns-text,
   table {
      font-size: 1rem;
   }
   .kontakt-content {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }
   .kontakt-img {
      width: 60%;
   }
   .footer {
      margin: 4rem auto 0 auto;
      padding: 3rem 0;
      gap: 3rem;
   }
   .footer-links {
      flex-direction: row;
   }
}

@media only screen and (min-width: 1000px) {
   .nav,
   .footer-links {
      gap: 4rem;
   }
   .hero-titel {
      font-size: 6rem;
      line-height: 6.5rem;
   }
   .ueberuns {
      grid-template-columns: 1fr 1fr;
      margin-top: 6rem;
      align-items: center;
   }
   .h2-heading {
      font-size: 2rem;
   }
   .img-links,
   .img-rechts {
      gap: 1rem;
   }
   table {
      font-size: 1.2rem;
   }
   .kontakt {
      margin-bottom: 2rem;
   }
   .kontakt-angaben {
      margin-top: 1rem;
      font-size: 1.2rem;
   }
   .kontakt-content img {
      width: 50%;
   }
   .kontakt,
   .kontakt-button a {
      flex-direction: row;
   }
   .footer {
      margin-top: 6rem;
   }
}

@media only screen and (min-width: 1400px) {
   .main-container {
      max-width: 1200px;
   }
}
